{% extends 'base.html.twig' %}

{% block title %}New Reservations{% endblock %}

{% block body %}

<style>
 .btn-warning {
  background-color: #FF8C00; /* Replace with your preferred shade of dark orange */
  border-color: #FF8C00; /* Set the border color to match the background color */
  border-radius: 15px;
   width:25%;
      margin: 15px 30px ; 
}
</style>

    
        <h2 class= "font-italic text-center" >Create new Reservations</h2>

            <div class="row">
						<div class="col-lg-8 offset-lg-2 text-center">
							<div class="error-text">
     

 

 {% for error in form.vars.errors %}
                        <div class="alert alert-danger">{{ error.message }}</div>
                    {% endfor %}

    {{ form_start(form) }}
                       
                          <div class="form-group">
                            {{ form_label(form.idEvent, 'Event') }}
                            {{ form_widget(form.idEvent, { 'attr': {'class': 'form-control'} }) }}
                        </div>

                         <div class="form-group">
                            {{ form_label(form.idUser, 'User') }}
                            {{ form_widget(form.idUser, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        
                           <div class="form-group">
                            {{ form_label(form.name, 'Name') }}
                            {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.datere, 'Date') }}
                            {{ form_widget(form.datere, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        
                     

<button type="submit" class="btn btn-warning">Create</button>
                    {{ form_end(form) }}
                    

</div>
</div>
</div>
	
    				<div class="col-lg-8 offset-lg-2 text-center">

    <a href="{{ path('app_reservations_index') }}" class="btn btn-warning">back to list</a>
</div>
    
    
    				
    
{% endblock %}
