{% extends 'back.html.twig' %}


{% block title %}
    {% if event.idEvent is not null %}
        Edit Events {{ event.idEvent }}
    {% else %}
        Create New Events
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5">{% if event.idEvent is not null %}Edit Events{% else %}Create New Events{% endif %}</h1>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                  {{ form_label(form.nameev, 'Name') }}
                            {{ form_widget(form.nameev, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="mb-3">
                     {% if event.img %}
                        <img src="{{asset('images/events/' ~ event.img )}}" alt="Events Image" class="img-thumbnail">
                    {% endif %}
                    {{ form_label(form.img) }}
                    {{ form_widget(form.img, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(form.idUser, 'user') }}
                            {{ form_widget(form.idUser, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="mb-3">
                    {{ form_label(form.dateEvent, 'Date') }}
                            {{ form_widget(form.dateEvent, { 'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="mb-3">
                   {{ form_label(form.location, 'Location') }}
                            {{ form_widget(form.location, { 'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="mb-3">
                   {{ form_label(form.categorie) }}
                    {{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}
            </div>

             <div class="mb-3">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            </div>

             <div class="mb-3">
                    {{ form_label(form.nbplacetotal, 'Number Of Places ') }}
                 {{ form_widget(form.nbplacetotal, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        {{ form_widget(form) }}
        <div class="my-4">
            <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
            
        </div>
        {{ form_end(form) }}

    
    </div>


    
{% endblock %}


