{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}
<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-12">
		
    <h2 class= "font-italic text-center">Events</h2>

 <style>
 .btn-warning {
  background-color: #FF8C00; /* Replace with your preferred shade of dark orange */
  border-color: #FF8C00; /* Set the border color to match the background color */
  border-radius: 15px;
   width:25%;
      margin: 15px 30px ; 
}

.card-img-container {
    width:400
    px; /* set the width to 100% to fill the card container */
    height:200px;
    overflow: hidden;
    border-radius: 10px;
}

.card-img-container img {
    width: 285px;
   height: 300px ; /* set the height to 100% to fill the container and maintain aspect ratio */
    object-fit: cover; /* use object-fit to prevent the image from stretching or squishing */
}
.paraph{
	
  font-size: 16px;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  
  margin-bottom: 20px;

}
    </style>



                         <div class="card-img-container">
							<img src="{{asset('images/events/' ~ event.img )}}">

                           
						</div>
							<h3>{{ event.nameev }}</h3>
							
						<span class="date"><i class="fas fa-calendar"></i> {{ event.dateEvent|date('Y-m-d') }}</span>

						<p >{{ event.description }}</p>
        <div class="col-lg-8 offset-lg-2 text-center">
		<a href="{{ path('app_events_index') }}"  class="btn btn-warning">back to list</a>

    <a href="{{ path('app_events_edit', {'idEvent': event.idEvent}) }}" class="btn btn-warning">edit</a>
    	<a href="{{ path('app_reservations_new', {'idEvent': event.idEvent}) }}" class="btn btn-warning">Create Reservation</a>             

	             
</div>
</div>
</div>
</div>

<div class="col-lg-8 offset-lg-2 text-center">
    
   {{ include('events/_delete_form.html.twig') }}
  </div>
{% endblock %}
